@media (min-width: 1280px) {
  .hero-site .txt-hero h1,
  .hero-integrantes .txt-hero h1,
  .hero-sobre .txt-hero h1,
  .hero-faleConosco .txt-hero h1 {
    font-size: 3.5em;
  }
  .txt-itens h3 {
    font-size: 2.8em;
  }
  .conteudo .itens-container,
  .itens-container {
    gap: 40px;
    padding: 40px;
  }
}