@media (min-width: 768px) and (max-width: 1023px) {
  header .interface {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero-site .txt-hero h1,
  .hero-integrantes .txt-hero h1,
  .hero-sobre .txt-hero h1,
  .hero-faleConosco .txt-hero h1 {
    font-size: 2.8em;
  }
  .txt-itens h3 {
    font-size: 2.4em;
  }
  .conteudo .itens-container,
  .itens-container {
    flex-direction: row;
    gap: 25px;
    padding: 25px;
  }
}
